FORMAT: 1A
HOST: http://sandbox.cherehapa.ru/v2/

# API проекта "Черехапа Страхование" v2.0 - Расчет и выписка полиса

## Параметры для создания полиса
При расчете полиса запрос **request** более не создается. При выполнении расчета только расчет, и выписать используя для этого requestId более нельзя, ибо его не будет в ответе. Только через параметры для выписки полиса! Мы более не храним состояние между расчетом и выпиской, делая эти операции атомарными и не зависимыми. 

Эти **обязательные** и *необязательные* параметры. **ВАЖНО** обязательные и допустимые параметры разнятся, для каждого метода - где это необходимо будет специально описано, какие параметры обязательные, а какие допустимые.

- **dateStart** - дата начала поездки - дата в формате dd.mm.yyyy (22.03.2017)
- **dateEnd** - дата окончания поездки - дата в формате dd.mm.yyyy (25.03.2017)
- **country[]** - код одной или нескольких стран путешествия - массив строк или массив чисел (количество не ограниченно)
- *sport[]* - коды видов спортивной активности - массив строк или массив чисел (surfing, divingCompetition)
- **insuranceProduct[]** - массив кодов страховых продуктов - число или массив чисел (1, 57)
- **service[<код услуги>]** - коды и значения страховых сумм по выбранным услугам - число (service[medicine]=30000, service[legal]=1)
- **insurer** - массив данных о покупателе полиса - строка (страхователе)
- **insurer[name]** - имя страхователя - строка (Alexander)
- **insurer[lastName]** - фамилия страхователя - строка (Pavlov)
- **insurer[email]** - электронная почта страхователя - строка (ap@tsys.pw)
- *insurer[phone]* - телефон страхователя в международном формате, без "+" - строка (79264240454)
- **tourist[]** - массив данных о туристах - строка
- **tourist[#][firstName]** - имя туриста - строка (Alexander)
- **tourist[#][lastName]** - фамилия туриста - строка (Pavlov)
- **tourist[#][birthday]** - дата рождения туриста - дата в формате dd.mm.yyyy (31.12.1982)
- *tourist[#][age]* - возраст туриста - число (можно указывать, когда не известна точная дата рождения), используется только при расчете полиса.
- *paymentSystem* - код платежной системы - число (для безналичной оплаты paymentSystem=8)
- **currency** - код валюты страхования - строка (USD, EUR, по-умолчанию - USD)
- *card* - массив данных о банковской карте пользователя - строка (нужен только в том случае, когда выбрана соответствующая платежная система).
- *card[number]* - номер банковской карты - строка (4111111111111111)
- *card[cvc]* - код безопасности карты - число (123)
- *card[month]* - месяц окончания срока действия карты - число (12)
- *card[year]* - год окончания срока действия карты - число (18)
- *card[holder]* - фамилия и имя держателя карты - строка (Alexander Pavlov)

И у QUOTE, и у POLICY есть разделение, на создание полиса по страховым продуктам и по страховым пакетам, основной отличительный признак в том что в продуктах это с *insuranceProduct*, а в пакетах *insurancePackage*. Потому для каждого метода будут даны примеры 2-х запросов, с учетом этой особенности.

## quote: стоимость всех продуктов, рассчитанные по данным в запросе [/quote?currency={currency}&dateStart={dateStart}&dateEnd={dateEnd}&insuredDays={insuredDays}&country%5B%5D={country}&service%5Bmedicine%5D={service_medicine}&service%5BaviaCargo%5D={service_aviaCargo}&service%5Baccident%5D={service_accinent}&service%5BcivilLiability%5D={service_civilLiability}&service%5BurgentStomatology%5D={service_urgentStomatology}&service%5Bcargo%5D={service_cargo}&tourist%5B{tourist_id}%5D%5Bage%5D={tourist_age}&tourist%5B{tourist_id}%5D%5Bbirthday%5D={tourist_birthday}&sport%5B{sport}%5D&key={key}]

+ Parameters
    + dateStart: `24.12.2017` (required, string)  - дата начала поездки (dd.mm.yyyy)
    + dateEnd: `25.12.2017` (required, string) - дата окончания поездки (dd.mm.yyyy)
    + insuredDays: 1 (optional, number) - кол-во дней по страховке (число)
    + currency: `eur` (required, string) - код валюты страхования (USD, EUR, RUB, по-умолчанию - USD)
    + country: `italy` (required, string) - код одной или нескольких стран путешествия (количество не ограниченно)
    + service_medicine: `30000` (required, string) - коды и значения страховых сумм по выбранным услугам
    + service_aviaCargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_urgentStomatology: `1` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_accinent: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_civilLiability: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_cargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + tourist_id: `0` (required, string) - массив данных о туристе с указанным id (начинается с 0)
    + tourist_birthday: `01.01.1980` (required, string) - дата рождения туриста с указанным ранее ID в формате dd.mm.yyyy
    + tourist_age: `36` (optional, string) - возраст туриста с указанным ранее ID (можно указывать, когда не известна точная дата рождения)
    + sport: `waterAerobics` (optional, string) - этот параметр  sport[]=xxx, не обязательный, где xxx это значение code если брать справочник по спорту через API, в запросе может быть указано несколько кодов спорта. Например: waterAerobics, motorcycle.
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /quote [GET]

Выводится стоимость всех **продуктов**, рассчитанные по данным (в примере на данный момент указан минимально необходимый набор данных) в запросе. Сам по себе массив *tourist* является обязательным, и достаточным для работы будет или дата рождения, или возраст то есть или **tourist[0][birthday]=dd.mm.yyyy** или **tourist[0][age]=xx** тоже самое для остальных туристов, для второго будет **tourist[1][age]**, при этом можно у одного туриста писать дату у второго возраст, то есть не принципиально что, главное чтобы или то или то, условно обязательно что-то из двух. Все остальные поля туриста не влияют на расчет но могут присутствовать, например у туриста могут быть заполнены поля **firstName** и/или **lastName** и/или **hidden**. **Важный момент** связанный с **insuredDays**, он не обязательный, но если он есть то расчет будет идти по количеству дней указанных в этом значении, то есть **dateStart** и **dateEnd** являются обязательными, без них расчета вообще не будет, но количество дней берется либо как разность дат, если **insuredDays** не передан, либо как **insuredDays** если передан не зависимо от дат. Необходимо помнить, что запросы с включением спорта надо осуществлять в таком виде: **sport[]=waterAerobics&sport[]=motorcycle**. Для полного понимания в качества примера дается весь вывод по запросу.

+ Response 200 (application/json)

            {
             "status": 200,
              "data": [
                {
                  "productId": 4,
                  "companyId": 1,
                  "insuranceSubProductId": 12,
                  "territory": {
                    "id": 3,
                    "code": "t1",
                    "countryGroup": [
                      "erv-t1",
                      "erv-all-no-russia",
                      "erv-t4"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "128",
                      "result": 1.63,
                      "serviceId": "1"
                    },
                    {
                      "idCalcRules": "0",
                      "result": 0.87,
                      "serviceId": "110"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 2.5,
                  "priceRub": 178.3,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1.63,
                          "serviceId": "1"
                        },
                        {
                          "result": 0.87,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 2.5
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 10,
                          "code": "euroalarm",
                          "name": "Euro-Center",
                          "phone": [
                            "+74956444345",
                            "+420221860620"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.7093,
                  "matchRatingPerCompany": 0.5,
                  "matchDetails": {
                    "totalServices": 33,
                    "additionalServices": 31,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 0,
                    "lowerSumms": 1,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0056,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "medicine": 30000,
                    "ambulatoryCare": 1,
                    "doctorCall": 1,
                    "hospitalTreatment": 1,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "deathRepatriation": 1,
                    "phoneRefund": 1,
                    "urgentStomatology": 1,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1,
                    "insuredLiving": 1,
                    "thirdPartyTransportation": 1,
                    "insuredEscortLiving": 1,
                    "childrenReturn": 1,
                    "relativeIllReturn": 1,
                    "insurerTemporaryReturn": 1,
                    "terrorAssistance": 1,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "allergyArresting": 1,
                    "sunburnAssistance": 1,
                    "oncologyAssistance": 1,
                    "alcoholAssistance": 1,
                    "searchActivities": 0,
                    "aviaCargo": 1000,
                    "accident": 5000,
                    "civilLiability": 25000,
                    "regularDelay": 1,
                    "document": 1,
                    "pregnancy": 0,
                    "auto": 1,
                    "foreign": 0,
                    "legal": 2000,
                    "delayCargo": 200,
                    "rescueActivities": 0
                  },
                  "info": null
                },
                {
                  "productId": 1,
                  "companyId": 1,
                  "insuranceSubProductId": 6,
                  "territory": {
                    "id": 3,
                    "code": "t1",
                    "countryGroup": [
                      "erv-t1",
                      "erv-all-no-russia",
                      "erv-t4"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "116",
                      "result": 1.21,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 1.21,
                  "priceRub": 86.3,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1.21,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 1.21
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 10,
                          "code": "euroalarm",
                          "name": "Euro-Center",
                          "phone": [
                            "+74956444345",
                            "+420221860620"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6201,
                  "matchRatingPerCompany": 0.508,
                  "matchDetails": {
                    "totalServices": 28,
                    "additionalServices": 27,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0086,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "medicine": 30000,
                    "ambulatoryCare": 1,
                    "doctorCall": 1,
                    "hospitalTreatment": 1,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "deathRepatriation": 1,
                    "phoneRefund": 1,
                    "urgentStomatology": 1,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1,
                    "insuredLiving": 1,
                    "thirdPartyTransportation": 1,
                    "insuredEscortLiving": 1,
                    "childrenReturn": 1,
                    "relativeIllReturn": 1,
                    "insurerTemporaryReturn": 1,
                    "terrorAssistance": 1,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "allergyArresting": 1,
                    "sunburnAssistance": 1,
                    "oncologyAssistance": 1,
                    "searchActivities": 0,
                    "regularDelay": 1,
                    "document": 1,
                    "pregnancy": 0,
                    "auto": 1,
                    "foreign": 0,
                    "legal": 2000,
                    "rescueActivities": 0
                  },
                  "info": null
                },
                {
                  "productId": 9,
                  "companyId": 23,
                  "insuranceSubProductId": 29,
                  "territory": {
                    "id": 10,
                    "code": "t1",
                    "countryGroup": [
                      "all",
                      "alfa-t1",
                      "alfa-no-rus-tha"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "197",
                      "result": 1,
                      "serviceId": "1"
                    },
                    {
                      "idCalcRules": "148",
                      "result": 7.7,
                      "serviceId": "110"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 8.7,
                  "priceRub": 620.5,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1,
                          "serviceId": "1"
                        },
                        {
                          "result": 7.7,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 8.7
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 13,
                          "code": "class",
                          "name": "Class Assistance",
                          "phone": [
                            "+78126407292",
                            "+78126447292",
                            "+74959848086"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.5244,
                  "matchRatingPerCompany": 0.5,
                  "matchDetails": {
                    "totalServices": 21,
                    "additionalServices": 19,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 0,
                    "lowerSumms": 1,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0003,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "medicine": 30000,
                    "ambulatoryCare": 30000,
                    "doctorCall": 30000,
                    "hospitalTreatment": 30000,
                    "doctorTransportation": 30000,
                    "abroadTransportation": 30000,
                    "drugRefund": 30000,
                    "deathRepatriation": 5000,
                    "phoneRefund": 100,
                    "urgentStomatology": 150,
                    "insuredReturn": 1500,
                    "thirdPartyTransportation": 1500,
                    "childrenReturn": 1500,
                    "relativeIllReturn": 1500,
                    "insurerTemporaryReturn": 1500,
                    "aviaCargo": 1000,
                    "accident": 0,
                    "civilLiability": 0,
                    "regularDelay": 1,
                    "document": 300,
                    "legal": 2500,
                    "foreign": 0,
                    "abroad": 0,
                    "allergyArresting": 1,
                    "searchActivities": 1
                  },
                  "info": null
                },
                {
                  "productId": 6,
                  "companyId": 23,
                  "insuranceSubProductId": 26,
                  "territory": {
                    "id": 10,
                    "code": "t1",
                    "countryGroup": [
                      "all",
                      "alfa-t1",
                      "alfa-no-rus-tha"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "148",
                      "result": 7.7,
                      "serviceId": "110"
                    },
                    {
                      "idCalcRules": "0",
                      "result": 0.9,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 8.6,
                  "priceRub": 613.36,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.9,
                          "serviceId": "1"
                        },
                        {
                          "result": 7.7,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 8.6
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 13,
                          "code": "class",
                          "name": "Class Assistance",
                          "phone": [
                            "+78126407292",
                            "+78126447292",
                            "+74959848086"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.5253,
                  "matchRatingPerCompany": 0.5058,
                  "matchDetails": {
                    "totalServices": 15,
                    "additionalServices": 13,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 0,
                    "lowerSumms": 1,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0003,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "medicine": 30000,
                    "ambulatoryCare": 30000,
                    "doctorCall": 30000,
                    "hospitalTreatment": 30000,
                    "doctorTransportation": 30000,
                    "abroadTransportation": 30000,
                    "drugRefund": 30000,
                    "deathRepatriation": 5000,
                    "phoneRefund": 100,
                    "urgentStomatology": 150,
                    "insuredReturn": 1500,
                    "childrenReturn": 1500,
                    "aviaCargo": 1000,
                    "accident": 0,
                    "civilLiability": 0,
                    "foreign": 0,
                    "abroad": 0,
                    "allergyArresting": 1,
                    "searchActivities": 1
                  },
                  "info": null
                },
                {
                  "productId": 92,
                  "companyId": 35,
                  "insuranceSubProductId": 166,
                  "territory": {
                    "id": 118,
                    "code": "shengen",
                    "countryGroup": [
                      "ingos-schengen",
                      "all-no-usa",
                      "all-usa",
                      "all-thailand"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "4370",
                      "result": 0.87,
                      "serviceId": "1"
                    },
                    {
                      "idCalcRules": "3532",
                      "result": 8.475,
                      "serviceId": "110"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 9.34,
                  "priceRub": 666.14,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.87,
                          "serviceId": "1"
                        },
                        {
                          "result": 8.475,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 9.345
                    }
                  ],
                  "assistances": [
                    {
                      "italy": [
                        {
                          "id": 1,
                          "code": "smile",
                          "name": "Smile Assistance",
                          "phone": [
                            "+34912986432"
                          ]
                        }
                      ]
                    },
                    {
                      "all": [
                        {
                          "id": 1,
                          "code": "smile",
                          "name": "Smile Assistance",
                          "phone": [
                            "+74959214661",
                            "+442035194494"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.536,
                  "matchRatingPerCompany": 0.5,
                  "matchDetails": {
                    "totalServices": 14,
                    "additionalServices": 12,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 2,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0,
                    "payoutRating": 0.00885
                  },
                  "serviceProduct": {
                    "abroad": 0,
                    "foreign": 0,
                    "medicine": 30000,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 1,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "phoneRefund": 1,
                    "deathRepatriation": 1,
                    "insuredReturn": 1,
                    "thirdPartyTransportation": 1,
                    "childrenReturn": 1,
                    "disasterAssistance": 0,
                    "sunburnAssistance": 0,
                    "aviaCargo": 1500,
                    "accident": 0,
                    "civilLiability": 0,
                    "work": 0,
                    "chronicArresting": 0,
                    "legal": 0
                  },
                  "info": null
                },
                {
                  "productId": 123,
                  "companyId": 40,
                  "insuranceSubProductId": 197,
                  "territory": {
                    "id": 241,
                    "code": "t4",
                    "countryGroup": [
                      "all",
                      "zetta-all-no-usa",
                      "zetta-all-no-usa-ta"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "3026",
                      "result": 0.99,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 0.99,
                  "priceRub": 70.61,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.99,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 0.99
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 19,
                          "code": "apc",
                          "name": "AP Companies",
                          "phone": [
                            "+74959895128"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6495,
                  "matchRatingPerCompany": 0.25,
                  "matchDetails": {
                    "totalServices": 22,
                    "additionalServices": 21,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0095,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "doctorCall": 30000,
                    "foreign": 0,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 30000,
                    "drugRefund": 1,
                    "phoneRefund": 50,
                    "deathRepatriation": 15000,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1,
                    "insuredLiving": 1,
                    "thirdPartyTransportation": 1000,
                    "insuredEscortLiving": 1000,
                    "childrenReturn": 1000,
                    "relativeIllReturn": 1,
                    "insurerTemporaryReturn": 500,
                    "disasterAssistance": 1,
                    "accident": 0,
                    "regularDelay": 500,
                    "document": 150,
                    "legal": 500,
                    "medicine": 30000
                  },
                  "info": null
                },
                {
                  "productId": 120,
                  "companyId": 40,
                  "insuranceSubProductId": 195,
                  "territory": {
                    "id": 241,
                    "code": "t4",
                    "countryGroup": [
                      "all",
                      "zetta-all-no-usa",
                      "zetta-all-no-usa-ta"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "3026",
                      "result": 0.87,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 0.87,
                  "priceRub": 62.05,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.87,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 0.87
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 19,
                          "code": "apc",
                          "name": "AP Companies",
                          "phone": [
                            "+74959895128"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6679,
                  "matchRatingPerCompany": 0.3106,
                  "matchDetails": {
                    "totalServices": 13,
                    "additionalServices": 12,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.01,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "doctorCall": 30000,
                    "foreign": 0,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 15000,
                    "drugRefund": 1,
                    "phoneRefund": 50,
                    "deathRepatriation": 15000,
                    "insuredReturn": 1,
                    "childrenReturn": 1000,
                    "disasterAssistance": 1,
                    "accident": 0,
                    "medicine": 30000
                  },
                  "info": null
                },
                {
                  "productId": 159,
                  "companyId": 44,
                  "insuranceSubProductId": 286,
                  "territory": {
                    "id": 160,
                    "code": "all-no-car",
                    "countryGroup": [
                      "vazhno-no-carribean",
                      "vazhno-no-usa",
                      "vazhno-no-cis"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "1552",
                      "result": 1,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 1,
                  "priceRub": 72,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 1
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 4,
                          "code": "gva",
                          "name": "Global Voyager Assistance",
                          "phone": [
                            "+74957750999"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6463,
                  "matchRatingPerCompany": 0.25,
                  "matchDetails": {
                    "totalServices": 16,
                    "additionalServices": 15,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0094,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "medicine": 30000,
                    "multipolicy": 0,
                    "abroad": 0,
                    "foreign": 0,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 1,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "phoneRefund": 1,
                    "deathRepatriation": 1,
                    "insuredReturn": 1,
                    "thirdPartyTransportation": 1,
                    "childrenReturn": 1,
                    "relativeIllReturn": 1,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "civilLiability": 0,
                    "searchActivities": 0,
                    "rescueActivities": 0
                  },
                  "info": null
                },
                {
                  "productId": 234,
                  "companyId": 51,
                  "insuranceSubProductId": 454,
                  "territory": {
                    "id": 274,
                    "code": "t1",
                    "countryGroup": [
                      "soglasie-usa",
                      "soglasie-all-no-usa",
                      "soglasie-world",
                      "soglasie-allworld"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "2946",
                      "result": 2,
                      "serviceId": "110"
                    },
                    {
                      "idCalcRules": "2875",
                      "result": 1,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 3,
                  "priceRub": 213.96,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1,
                          "serviceId": "1"
                        },
                        {
                          "result": 2,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 3
                    }
                  ],
                  "assistances": [
                    {
                      "italy": [
                        {
                          "id": 30,
                          "code": "savitar",
                          "name": "Savitar Group",
                          "phone": [
                            "+390236311466"
                          ]
                        }
                      ]
                    },
                    {
                      "all": [
                        {
                          "id": 30,
                          "code": "savitar",
                          "name": "Savitar Group",
                          "phone": [
                            "+74959871775",
                            "+74959871776"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.7132,
                  "matchRatingPerCompany": 0.5,
                  "matchDetails": {
                    "totalServices": 18,
                    "additionalServices": 16,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 1,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0048,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "foreign": 0,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 200,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "phoneRefund": 1,
                    "deathRepatriation": 1,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1,
                    "insuredLiving": 1,
                    "thirdPartyTransportation": 1,
                    "insuredEscortLiving": 1,
                    "childrenReturn": 1,
                    "allergyArresting": 1,
                    "aviaCargo": 2000,
                    "regularDelay": 0,
                    "medicine": 30000,
                    "accident": 0
                  },
                  "info": null
                },
                {
                  "productId": 231,
                  "companyId": 51,
                  "insuranceSubProductId": 442,
                  "territory": {
                    "id": 274,
                    "code": "t1",
                    "countryGroup": [
                      "soglasie-usa",
                      "soglasie-all-no-usa",
                      "soglasie-world",
                      "soglasie-allworld"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "2946",
                      "result": 2,
                      "serviceId": "110"
                    },
                    {
                      "idCalcRules": "2867",
                      "result": 0.85,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 2.85,
                  "priceRub": 203.27,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.85,
                          "serviceId": "1"
                        },
                        {
                          "result": 2,
                          "serviceId": "110"
                        }
                      ],
                      "resultPerTourist": 2.85
                    }
                  ],
                  "assistances": [
                    {
                      "italy": [
                        {
                          "id": 30,
                          "code": "savitar",
                          "name": "Savitar Group",
                          "phone": [
                            "+390236311466"
                          ]
                        }
                      ]
                    },
                    {
                      "all": [
                        {
                          "id": 30,
                          "code": "savitar",
                          "name": "Savitar Group",
                          "phone": [
                            "+74959871775",
                            "+74959871776"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.7201,
                  "matchRatingPerCompany": 0.525,
                  "matchDetails": {
                    "totalServices": 14,
                    "additionalServices": 12,
                    "missingServices": 0,
                    "matchingServices": 2,
                    "higherSumms": 1,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.005,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "foreign": 0,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 1,
                    "drugRefund": 1,
                    "phoneRefund": 1,
                    "deathRepatriation": 1,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1,
                    "allergyArresting": 1,
                    "aviaCargo": 2000,
                    "regularDelay": 0,
                    "medicine": 30000,
                    "accident": 0
                  },
                  "info": null
                },
                {
                  "productId": 201,
                  "companyId": 52,
                  "insuranceSubProductId": 416,
                  "territory": {
                    "id": 210,
                    "code": "t1",
                    "countryGroup": [
                      "all-no-russia",
                      "all",
                      "rstandart-t5",
                      "rstandart-t1"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "1904",
                      "result": 1,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 1,
                  "priceRub": 71.32,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 1,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 1
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 19,
                          "code": "apc",
                          "name": "AP Companies",
                          "phone": [
                            "+74959891120"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6482,
                  "matchRatingPerCompany": 0.25,
                  "matchDetails": {
                    "totalServices": 26,
                    "additionalServices": 25,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0094,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "abroad": 0,
                    "foreign": 0,
                    "medicine": 30000,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 30000,
                    "drugRefund": 1,
                    "phoneRefund": 50,
                    "deathRepatriation": 15000,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1000,
                    "thirdPartyTransportation": 1000,
                    "insuredEscortLiving": 1,
                    "childrenReturn": 1000,
                    "relativeIllReturn": 500,
                    "insurerTemporaryReturn": 500,
                    "terrorAssistance": 1,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "allergyArresting": 1,
                    "regularDelay": 500,
                    "dockDelay": 1,
                    "document": 150,
                    "legal": 500,
                    "civilLiability": 20000,
                    "searchActivities": 0
                  },
                  "info": null
                },
                {
                  "productId": 198,
                  "companyId": 52,
                  "insuranceSubProductId": 407,
                  "territory": {
                    "id": 210,
                    "code": "t1",
                    "countryGroup": [
                      "all-no-russia",
                      "all",
                      "rstandart-t5",
                      "rstandart-t1"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "1895",
                      "result": 0.85,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 0.85,
                  "priceRub": 60.62,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.85,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 0.85
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 19,
                          "code": "apc",
                          "name": "AP Companies",
                          "phone": [
                            "+74959891120"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6722,
                  "matchRatingPerCompany": 0.325,
                  "matchDetails": {
                    "totalServices": 25,
                    "additionalServices": 24,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0101,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "abroad": 0,
                    "foreign": 0,
                    "medicine": 30000,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 30000,
                    "drugRefund": 1,
                    "phoneRefund": 50,
                    "deathRepatriation": 15000,
                    "insuredReturn": 1,
                    "insuredEscortReturn": 1000,
                    "thirdPartyTransportation": 1000,
                    "insuredEscortLiving": 1,
                    "childrenReturn": 1000,
                    "relativeIllReturn": 500,
                    "insurerTemporaryReturn": 500,
                    "terrorAssistance": 1,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "allergyArresting": 1,
                    "regularDelay": 500,
                    "dockDelay": 1,
                    "document": 150,
                    "legal": 500,
                    "searchActivities": 0
                  },
                  "info": null
                },
                {
                  "productId": 195,
                  "companyId": 52,
                  "insuranceSubProductId": 404,
                  "territory": {
                    "id": 210,
                    "code": "t1",
                    "countryGroup": [
                      "all-no-russia",
                      "all",
                      "rstandart-t5",
                      "rstandart-t1"
                    ]
                  },
                  "insuredDays": "1",
                  "services": [
                    {
                      "idCalcRules": "1892",
                      "result": 0.75,
                      "serviceId": "1"
                    }
                  ],
                  "sport": null,
                  "currency": "USD",
                  "price": 0.75,
                  "priceRub": 53.49,
                  "infoPerTourist": [
                    {
                      "age": 32,
                      "referenceValue": 1,
                      "perTourist": [
                        {
                          "result": 0.75,
                          "serviceId": "1"
                        }
                      ],
                      "resultPerTourist": 0.75
                    }
                  ],
                  "assistances": [
                    {
                      "all": [
                        {
                          "id": 19,
                          "code": "apc",
                          "name": "AP Companies",
                          "phone": [
                            "+74959891120"
                          ]
                        }
                      ]
                    }
                  ],
                  "matchRating": 0.6899,
                  "matchRatingPerCompany": 0.375,
                  "matchDetails": {
                    "totalServices": 13,
                    "additionalServices": 12,
                    "missingServices": 1,
                    "matchingServices": 1,
                    "higherSumms": 0,
                    "lowerSumms": 0,
                    "matchingSumms": 1,
                    "expertRaiting": 0,
                    "isLimited": 0,
                    "priceRating": 0.0106,
                    "payoutRating": 0.01065
                  },
                  "serviceProduct": {
                    "abroad": 0,
                    "foreign": 0,
                    "medicine": 30000,
                    "doctorCall": 1,
                    "ambulatoryCare": 1,
                    "hospitalTreatment": 1,
                    "urgentStomatology": 150,
                    "doctorTransportation": 1,
                    "abroadTransportation": 15000,
                    "drugRefund": 1,
                    "phoneRefund": 50,
                    "deathRepatriation": 15000,
                    "disasterAssistance": 1,
                    "chronicArresting": 1,
                    "allergyArresting": 1,
                    "searchActivities": 0
                  },
                  "info": null
                }
              ],
              "request": {
                "dateStart": "22.12.2014",
                "dateEnd": "22.12.2014",
                "insuredDays": true,
                "dateUpdated": "21.12.2015",
                "dateCreated": "21.12.2015",
                "id": 2081
              }
            }
            
## quote: стоимость одного продукта id, рассчитанная по данным в запросе [/quote/{id}?currency={currency}&dateStart={dateStart}&dateEnd={dateEnd}&insuredDays={insuredDays}&country%5B%5D={country}&service%5Bmedicine%5D={service_medicine}&service%5BaviaCargo%5D={service_aviaCargo}&service%5Baccident%5D={service_accinent}&service%5BcivilLiability%5D={service_civilLiability}&service%5BurgentStomatology%5D={service_urgentStomatology}&service%5Bcargo%5D={service_cargo}&tourist%5B{tourist_id}%5D%5Bage%5D={tourist_age}&key={key}]

+ Parameters
    + id: 39 (optional, number) - id продукта (например - 39)
    + dateStart: `24.12.2017` (required, string)  - дата начала поездки (dd.mm.yyyy)
    + dateEnd: `25.12.2017` (required, string) - дата окончания поездки (dd.mm.yyyy)
    + insuredDays: 1 (optional, number) - кол-во дней по страховке (число)
    + currency: `eur` (required, string) - код валюты страхования (USD, EUR, RUB, по-умолчанию - USD)
    + country: `italy` (required, string) - код одной или нескольких стран путешествия (количество не ограниченно)
    + service_medicine: `30000` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_aviaCargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_urgentStomatology: `1` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_accinent: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_civilLiability: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_cargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + tourist_id: `0` (required, string) - массив данных о туристе с указанным id (начинается с 0)
    + tourist_age: `32` (optional, string) - возраст туриста (можно указывать, когда не известна точная дата рождения)
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /quote/id [GET]

Выводится стоимость одного продукта id, рассчитанная по данным в запросе. Если на запрос выдается ошибка 500: Ошибка стороннего API: "The insurance sub products for calc not found", то необходимо увеличить срок поездки или указать большее число дней, так же попробовать использовать более удаленные от текущего момента даты поездки.

+ Response 200 (application/json)

        {
          "status": 200,
          "data": {
            "productId": 39,
            "companyId": 26,
            "insuranceSubProductId": 88,
            "territory": {
              "id": 33,
              "code": "t1",
              "countryGroup": [
                "rgs-t1",
                "rgs-t5",
                "rgs-t7",
                "rgs-gte30e",
                "rgs-shengen"
              ]
            },
            "insuredDays": "1",
            "services": [
              {
                "idCalcRules": "2754",
                "result": 12.75,
                "serviceId": "110"
              },
              {
                "idCalcRules": "0",
                "result": 3.21,
                "serviceId": "1"
              }
            ],
            "sport": null,
            "currency": "EUR",
            "price": 15.96,
            "priceRub": 1237.61,
            "infoPerTourist": [
              {
                "age": 30,
                "referenceValue": 1,
                "perTourist": [
                  {
                    "result": 3.21,
                    "serviceId": "1"
                  },
                  {
                    "result": 12.75,
                    "serviceId": "110"
                  }
                ],
                "resultPerTourist": 15.96
              }
            ],
            "assistances": [
              {
                "all": [
                  {
                    "id": 4,
                    "code": "gva",
                    "name": "Global Voyager Assistance",
                    "phone": [
                      "+74957839236"
                    ]
                  },
                  {
                    "id": 7,
                    "code": "europ",
                    "name": "Europ Assistance",
                    "phone": [
                      "+74957839236"
                    ]
                  },
                  {
                    "id": 27,
                    "code": "fidelitas",
                    "name": "Fidelitas Assistance",
                    "phone": [
                      "+74957839236"
                    ]
                  },
                  {
                    "id": 30,
                    "code": "savitar",
                    "name": "Savitar Group",
                    "phone": [
                      "+74957839236"
                    ]
                  },
                  {
                    "id": 36,
                    "code": "balt",
                    "name": "Balt Assistance",
                    "phone": [
                      "+74957839236"
                    ]
                  }
                ]
              }
            ],
            "matchRating": 0.5297,
            "matchRatingPerCompany": 0.5,
            "matchDetails": {
              "totalServices": 11,
              "additionalServices": 8,
              "missingServices": 0,
              "matchingServices": 3,
              "higherSumms": 0,
              "lowerSumms": 0,
              "matchingSumms": 2,
              "expertRaiting": 0,
              "isLimited": 0,
              "priceRating": 0,
              "payoutRating": 2
            },
            "serviceProduct": {
              "doctorCall": 1,
              "ambulatoryCare": 1,
              "hospitalTreatment": 1,
              "urgentStomatology": 1,
              "doctorTransportation": 1,
              "abroadTransportation": 1,
              "drugRefund": 1,
              "phoneRefund": 1,
              "deathRepatriation": 1,
              "medicine": 30000,
              "work": 0,
              "pregnancy": 0,
              "civilLiability": 0,
              "chronicArresting": 0,
              "aviaCargo": 1500,
              "accident": 0,
              "multipolicy": 0,
              "searchActivities": 0
            },
            "info": null
          },
          "request": {
            "currencyId": "EUR",
            "dateStart": "24.03.2016",
            "dateEnd": "25.04.2016",
            "insuredDays": true,
            "dateUpdated": "24.12.2015",
            "dateCreated": "24.12.2015",
            "id": 2147
          }
        }
            
## policy: создание нового полиса по продуктам insuranceProduct [/policy?currency={currency}&dateStart={dateStart}&dateEnd={dateEnd}&insuredDays={insuredDays}&country%5B%5D={country}&service%5Bmedicine%5D={service_medicine}&service%5BaviaCargo%5D={service_aviaCargo}&service%5Baccident%5D={service_accinent}&service%5BcivilLiability%5D={service_civilLiability}&service%5BurgentStomatology%5D={service_urgentStomatology}&service%5Bcargo%5D={service_cargo}&tourist%5B{tourist_id}%5D%5BfirstName%5D={tourist_firstName}&tourist%5B{tourist_id}%5D%5BlastName%5D={tourist_lastName}&tourist%5B{tourist_id}%5D%5Bhidden%5D={tourist_hidden}&tourist%5B{tourist_id}%5D%5Bbirthday%5D={tourist_birthday}&insurer%5Bname%5D={insurer_name}&insurer%5BlastName%5D={insurer_lastName}&insurer%5BsecondName%5D={insurer_secondName}&insurer%5BnameRU%5D={insurer_nameRU}&insurer%5BlastNameRU%5D={insurer_lastNameRU}&insurer%5BsecondNameRU%5D={insurer_secondNameRU}&insurer%5Bphone%5D={insurer_phone}&insurer%5Bemail%5D={insurer_email}&insuranceProduct%5B%5D={insuranceProduct}&paymentSystem={paymentSystem}&card%5Bnumber%5D={card_number}&card%5Bmonth%5D={card_month}&card%5Byear%5D={card_year}&card%5Bcvc%5D={card_cvc}&card%5Bholder%5D={card_holder}&sport%5B{sport}%5D&key={key}&marker={marker}&partnerId={partnerId}&coupon={coupon}&_method=post]

+ Parameters
    + dateStart: `24.12.2017` (required, string)  - дата начала поездки (dd.mm.yyyy)
    + dateEnd: `25.12.2017` (required, string) - дата окончания поездки (dd.mm.yyyy)
    + insuredDays: 1 (optional, number) - кол-во дней по страховке (число)
    + currency: `eur` (required, string) - код валюты страхования (USD, EUR)
    + country: `italy` (required, string) - код одной или нескольких стран путешествия (количество не ограниченно)
    + service_medicine: `30000` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_aviaCargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_urgentStomatology: `1` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_accinent: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_civilLiability: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_cargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + tourist_id: `0` (required, string) - массив данных о туристе с указанным id (начинается с 0)
    + tourist_lastName: `Bzhezinskiy` (required, string) - фамилия туриста ЛАТИНИЦЕЙ
    + tourist_firstName: `Torvlandor` (required, string) - имя туриста ЛАТИНИЦЕЙ
    + tourist_birthday: `24.12.1983` (required, string)  - дата рождения туриста (dd.mm.yyyy)
    + tourist_hidden:  `0` (required, string) - скрыть ли информацию о туристе из личного кабинета покупателя (1=да, 0=нет)
    + insurer_phone: `79261234567` (required, string) телефон страхователя в международном формате, без + (то есть 79261234567)
    + insurer_email: `torvlandor@mailinator.com` (required, string) - e-mail страхователя (например torvlandor@mailinator.com)
    + insurer_name: `Torvlandor`  (required, string)  - имя страхователя ЛАТИНИЦЕЙ (например Torvlandor)
    + insurer_secondName: `Alexandrovich`  (optional, string)  - отчество страхователя ЛАТИНИЦЕЙ (например Alexandrovich)
    + insurer_lastName: `Bzhezinskiy`  (required, string) - фамилия страхователя ЛАТИНИЦЕЙ (например Bzhezinskiy)
    + insurer_nameRU: `required` (required, string) - имя страхователя КИРИЛЛИЦЕЙ 
    + insurer_secondNameRU: `Бимульдинович` (required, string) - отчество страхователя КИРИЛЛИЦЕЙ 
    + insurer_lastNameRU: `Бжезинский` (required, string) - отчество страхователя КИРИЛЛИЦЕЙ 
    + insuranceProduct: `9` (required, string) - массив кодов страховых продуктов (1, 57)
    + paymentSystem: `7` (optional, string) - код платежной системы (для безналичной оплаты paymentSystem=7)
    + sport: `waterAerobics` (optional, string) - этот параметр  sport[]=xxx, не обязательный, где xxx это значение code если брать справочник по спорту через API, в запросе может быть указано несколько кодов спорта. Например: waterAerobics, motorcycle.
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)
    + marker: `123qwe` (required, string) - маркер партнера, это произвольная строка.
    + partnerId: `1` (required, string) - код партнера, на который будет записана продажа. обычно он определяется по ключу, но иногда бывает необходимость задать отдельно.
    + coupon: `CHE-123XYZ` (optional, string) - купон на скидку, если есть
    + card_number: `4111111111111111` (required, string) - номер банковской карты
    + card_cvc: `123` (required, string) - код безопасности карты
    + card_month: `12` (required, string) - месяц окончания срока действия карты 
    + card_year: `18` (required, string) - год окончания срока действия карты (2 последние цифры)
    + card_holder: `Torvlandor+Bzhezinskiy` (required, string) - фамилия и имя держателя карты (в формате Name+LastName)

### Метод по продуктам insuranceProduct: POST /policy [POST]

Создается новый полис по продуктам (insuranceProduct). Необходимо помнить, что запросы с включением спорта надо осуществлять в таком виде: **sport[]=waterAerobics&sport[]=motorcycle**. Вот перечень **обязательные** и *необязательные* параметры, для этого метода с учетом выписки по пакетам.

- **dateStart** - дата начала поездки - дата в формате dd.mm.yyyy (22.03.2017)
- **dateEnd** - дата окончания поездки - дата в формате dd.mm.yyyy (25.03.2017)
- **country[]** - код одной или нескольких стран путешествия, то есть обязательное наличие хотя бы одной страны (country[]=xxx), массив строк или массив чисел (количество не ограниченно)
- *sport[]* - коды видов спортивной активности - массив строк или массив чисел (surfing, divingCompetition)
- **currency** - код валюты страхования, более нет никаких значений по умолчанию, если не передать валюту будет ошибка валидации, или EUR или USD, допускается также в нижнем регистре - строка (USD, EUR)
- **insuranceProduct[]** - массив кодов страховых продуктов, при этом может передаваться как одним значением insuranceProduct=159, так и массивом insuranceProduct[]=159, возможны, но редки варианты с несколькими продуктами, тогда на одни и теже данные будут выписаны разные полисы (разных компаний) в зависимости от переданных продуктов, то есть к примеру insuranceProduct[]=159&insuranceProduct[]=260 - число или массив чисел (159, 260)
- **service[<код услуги>]** - коды и значения страховых сумм по выбранным услугам, то есть обязательное наличие хотя бы одного сервиса (service[xxx]=yyy) - число (service[medicine]=30000, service[legal]=1)
- **tourist[]** - массив данных о туристах - строка
- **tourist[#][firstName]** - имя туриста - строка (Alexander)
- **tourist[#][lastName]** - фамилия туриста - строка (Pavlov)
- **tourist[#][birthday]** - дата рождения туриста, в отличии от quote **только дата рождения, возраст не сработает** - дата в формате dd.mm.yyyy (31.12.1982)
- **paymentSystem** - платежная система, пример paymentSystem=7, должно быть числом, а также должна быть доступна партнеру по ключу, в данном случае 7 это оплата картой.
- **insurer[]** - покупатель, является обязательным, представляет собой массив из следующих обязательных значений:
- **insurer[name]**  или **insurer[nameRU]**  имя, в зависимости от страховой, одни требуют русские поля другие латинские, поэтому валидация может ругаться на отсутствие необходимого ей поля (Alexander)
- **insurer[lastName]** или **insurer[lastNameRU]**, фамилия аналогично имени (Pavlov)
- **insurer[secondNameRU]** отчество обязательно только у страховых с требованиями к отчеству русскими буквами
- **insurer[email]** - электронная почта страхователя - строка (test@test.com)
- *insurer[phone]* - телефон страхователя в международном формате, без "+", для Ренесанс обязателен номер телефона - строка (79264240454)


Также есть не обязательный tourist[0][hidden], это больше для интерфейса актуально, но если установлен в 1 то турист не будет привязан к покупателю и не будет отображаться в его личном кабинете на сайте, если в 0 то будет, по умолчанию 0.
Всё более никаких данных по туристу передавать не нужно, передача туриста по id требует более широкое апи, например создание туриста и тд. Поэтому передача по id закрыта.


Если выбрана платежная система Payture (paymentSystem=7) то обязательными становятся данные карты:

- *card* - массив данных о банковской карте пользователя - строка (нужен только в том случае, когда выбрана соответствующая платежная система).
- *card[number]* - номер банковской карты - строка (4111111111111111)
- *card[cvc]* - код безопасности карты - число (123)
- *card[month]* - месяц окончания срока действия карты - число (12)
- *card[year]* - год окончания срока действия карты - число (18)
- *card[holder]* - фамилия и имя держателя карты - строка (Alexander Pavlov)

в противном случае эти поля не учитываются.

- **partnerId** - идентификатор партнера если он не указан, то идентификатор партнера определяется по ключу, но если указан то используется вне зависимости от ключа, Например как это происходит при покупке через интерфейс, ключ доступа к апи там наш, partnerId которого равен 1, поэтому используется явная передача партнера partnerId. Для уверенности прикрепления полиса за партнером - это поле обязательно.
- *marker* - маркер партнера, это произвольная строка, для личных целей партнера или для аналитики. Может использоваться для статистических целей, субаффилиатских програм и т.д.
- *coupon* - купон на скидку.

+ Response 201 (application/json)

           {
             "status":201,
             "data":[[]],
             "task":{
                      "code":"CreateOrderTwoStep",
                      "id":4447,
                      "isSuccess":false,
                      "isProcessing":true,
                      "isCancelled":false,
                      "isFatal":false,
                      "hasError":false,
                      "completeness":null,
                      "currentAction":{
                                       "description":"\u0421\u043e\u0445\u0440\u0430\u043d\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                                      }
                   }
           }
          
 
## policy: отмена выписанного ранее полиса [/policy/{id}?key={key}&_method=delete]

+ Parameters
    + id: 78 (required, number) - id полиса (напрмиер 78).
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: DELETE /policy/id [DELETE]

Удаляет полис с указанным id из системы.

+ Response 201 (application/json)

           {
               "status": 201,
               "data": [
                   []
               ],
               "task": {
                   "code": "CancelPolicy",
                   "id": 130662,
                   "isSuccess": false,
                   "isProcessing": true,
                   "isCancelled": false,
                   "isFatal": false,
                   "hasError": false,
                   "completeness": null,
                   "currentAction": {
                       "description": "Получение необходимых объектов"
                   }
               }
           }

            
## task: подробная информация о задаче и текущем статусе выполнения [/task/{id}?key={key}]

+ Parameters
    + id: 2000 (required, number) - id задачи (напрмиер 2000).
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /policy/id [GET]

Выводится подробная информация о задаче с указанным id и текущем статусе выполнения.

+ Response 200 (application/json)

            {
             "status": 200,
              "data": {
                "assistance": {
                  "all": [
                    {
                      "id": 4,
                      "isBlocked": 0,
                      "code": "gva",
                      "name": "Global Voyager Assistance",
                      "email": "info@gvassistance.com",
                      "url": "http://www.gvassistance.com/",
                      "phone": [
                        "+74957750999"
                      ]
                    }
                  ]
                },
                "currencyPrice": 0,
                "insuranceSubProductId": null,
                "price": 299,
                "sportGroupFull": null,
                "sportGroupId": null,
                "territoryId": null,
                "touristInfo": null,
                "apiCalculationId": null,
                "apiPrice": 0,
                "currencyApiPrice": 0,
                "debug": ""
              },
              "policy": {
                "id": 917,
                "code": "0403/FA/NI/0001/15/W600160",
                "externalId": 15066,
                "additionalId": null,
                "companyId": 44,
                "file": 866,
                "insuranceSubProductId": 570,
                "calculationId": 1073,
                "insurerId": 4499,
                "taskId": 2000,
                "dateCreated": "22.10.2015 19:59:25",
                "dateConfirmed": "22.10.2015 19:59:46",
                "dateUpdated": "22.10.2015 19:59:50",
                "dateCancelled": null,
                "isArhive": 0,
                "price": 299
              },
              "file": {
                "id": 866,
                "name": "0403FANI000115W600160.pdf",
                "mimeType": "application/pdf\n",
                "size": 540017,
                "downloadLink": "https://cherehapatst.s3.amazonaws.com/0403FANI000115W600160.pdf?AWSAccessKeyId=AKIAI2DDUKJRKZSY3JCA&Expires=1450692218&Signature=FAwIhoNv7R64%2FCCHg9%2F8c47WyHE%3D"
              },
              "task": {
                "id": 2000,
                "code": "CreateConfirmPolicy",
                "isSuccess": true,
                "isProcessing": false,
                "isCancelled": false,
                "isFatal": false,
                "hasError": false,
                "completeness": "1",
                "currentAction": false
              }
            }
            
            
## file: информация о файле и ссылка на загрузку [/file/{id}?key={key}]

+ Parameters
    + id: 78 (required, number) - id полиса (напрмиер 78).
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /file/id [GET]

Возвращает информацию о файле и ссылку на загрузку

+ Response 200 (application/json)

        {
        "status": 200,
          "file": {
            "id": 78,
            "name": "0403FAII102315W600033.pdf",
            "mimeType": "application/pdf\n",
            "size": 166514,
            "downloadLink": "https://cherehapatst.s3.amazonaws.com/0403FAII102315W600033.pdf?AWSAccessKeyId=AKIAI2DDUKJRKZSY3JCA&Expires=1450692817&Signature=LNltEY4SQ8%2BH7EOb9lZS2wKP9Kg%3D"
          }
        }