FORMAT: 1A
HOST: http://api.sandbox.cherehapa.ru/v2/

# API проекта "Черехапа Страхование" v2.0 - Расчет и выписка полиса

## Параметры для создания полиса
При расчете полиса запрос **request** более не создается. При выполнении расчета только расчет, и выписать используя для этого requestId более нельзя, ибо его не будет в ответе. Только через параметры для выписки полиса! Мы более не храним состояние между расчетом и выпиской, делая эти операции атомарными и не зависимыми. 

Эти **обязательные** и *необязательные* параметры. **ВАЖНО** обязательные и допустимые параметры разнятся, для каждого метода - где это необходимо будет специально описано, какие параметры обязательные, а какие допустимые.

- **dateStart** - дата начала поездки - дата в формате dd.mm.yyyy (22.03.2017)
- **dateEnd** - дата окончания поездки - дата в формате dd.mm.yyyy (25.03.2017)
- **country[]** - код одной или нескольких стран путешествия - массив строк или массив чисел (количество не ограниченно)
- *sport[]* - коды видов спортивной активности - массив строк или массив чисел (surfing, divingCompetition)
- **insuranceProduct[]** - массив кодов страховых продуктов - число или массив чисел (1, 57)
- **service[<код услуги>]** - коды и значения страховых сумм по выбранным услугам - число (service[medicine]=30000, service[legal]=1)
- **insurer** - массив данных о покупателе полиса - строка (страхователе)
- **insurer[name]** - имя страхователя - строка (Alexander)
- **insurer[lastName]** - фамилия страхователя - строка (Pavlov)
- **insurer[email]** - электронная почта страхователя - строка (ap@tsys.pw)
- *insurer[phone]* - телефон страхователя в международном формате, без "+" - строка (79264240454)
- **tourist[]** - массив данных о туристах - строка
- **tourist[#][firstName]** - имя туриста - строка (Alexander)
- **tourist[#][lastName]** - фамилия туриста - строка (Pavlov)
- **tourist[#][birthday]** - дата рождения туриста - дата в формате dd.mm.yyyy (31.12.1982)
- *tourist[#][age]* - возраст туриста - число (можно указывать, когда не известна точная дата рождения), используется только при расчете полиса.
- *paymentSystem* - код платежной системы - число (для безналичной оплаты paymentSystem=8)
- **currency** - код валюты страхования - строка (USD, EUR)
- *card* - массив данных о банковской карте пользователя - строка (нужен только в том случае, когда выбрана соответствующая платежная система).
- *card[number]* - номер банковской карты - строка (4111111111111112)
- *card[cvc]* - код безопасности карты - число (123)
- *card[month]* - месяц окончания срока действия карты - число (12)
- *card[year]* - год окончания срока действия карты - число (18)
- *card[holder]* - фамилия и имя держателя карты - строка (Alexander Pavlov)

И у QUOTE, и у POLICY есть разделение, на создание полиса по страховым продуктам и по страховым пакетам, основной отличительный признак в том что в продуктах это с *insuranceProduct*, а в пакетах *insurancePackage*. Потому для каждого метода будут даны примеры 2-х запросов, с учетом этой особенности.

## quote: стоимость всех продуктов, рассчитанные по данным в запросе [/quote?currency={currency}&dateStart={dateStart}&dateEnd={dateEnd}&insuredDays={insuredDays}&country%5B%5D={country}&service%5Bmedicine%5D={service_medicine}&service%5BaviaCargo%5D={service_aviaCargo}&service%5Baccident%5D={service_accinent}&service%5BcivilLiability%5D={service_civilLiability}&service%5BurgentStomatology%5D={service_urgentStomatology}&service%5Bcargo%5D={service_cargo}&tourist%5B{tourist_id}%5D%5Bage%5D={tourist_age}&tourist%5B{tourist_id}%5D%5Bbirthday%5D={tourist_birthday}&sport%5B{sport}%5D&key={key}]

+ Parameters
    + dateStart: `24.12.2017` (required, string)  - дата начала поездки (dd.mm.yyyy)
    + dateEnd: `25.12.2017` (required, string) - дата окончания поездки (dd.mm.yyyy)
    + insuredDays: 1 (optional, number) - кол-во дней по страховке (число)
    + currency: `eur` (required, string) - код валюты страхования (USD, EUR)
    + country: `italy` (required, string) - код одной или нескольких стран путешествия (количество не ограниченно)
    + service_medicine: `30000` (required, string) - коды и значения страховых сумм по выбранным услугам
    + service_aviaCargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_urgentStomatology: `1` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_accinent: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_civilLiability: `0` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + service_cargo: `1500` (optional, string) - коды и значения страховых сумм по выбранным услугам
    + tourist_id: `0` (required, string) - массив данных о туристе с указанным id (начинается с 0)
    + tourist_birthday: `01.01.1980` (required, string) - дата рождения туриста с указанным ранее ID в формате dd.mm.yyyy
    + tourist_age: `36` (optional, string) - возраст туриста с указанным ранее ID (можно указывать, когда не известна точная дата рождения)
    + sport: `waterAerobics` (optional, string) - этот параметр  sport[]=xxx, не обязательный, где xxx это значение code если брать справочник по спорту через API, в запросе может быть указано несколько кодов спорта. Например: waterAerobics, motorcycle.
    + key: yI99Kone4QHOuaPqmgpp7WoTmW0cDs (required, string) - Ключ доступа (служит для авторизации, при изменении перестает работать)

### Метод: GET /quote [GET]

Выводится стоимость всех **продуктов**, рассчитанные по данным (в примере на данный момент указан минимально необходимый набор данных) в запросе. Сам по себе массив *tourist* является обязательным, и достаточным для работы будет или дата рождения, или возраст то есть или **tourist[0][birthday]=dd.mm.yyyy** или **tourist[0][age]=xx** тоже самое для остальных туристов, для второго будет **tourist[1][age]**, при этом можно у одного туриста писать дату у второго возраст, то есть не принципиально что, главное чтобы или то или то, условно обязательно что-то из двух. Все остальные поля туриста не влияют на расчет но могут присутствовать, например у туриста могут быть заполнены поля **firstName** и/или **lastName** и/или **hidden**. **Важный момент** связанный с **insuredDays**, он не обязательный, но если он есть то расчет будет идти по количеству дней указанных в этом значении, то есть **dateStart** и **dateEnd** являются обязательными, без них расчета вообще не будет, но количество дней берется либо как разность дат, если **insuredDays** не передан, либо как **insuredDays** если передан не зависимо от дат. Необходимо помнить, что запросы с включением спорта надо осуществлять в таком виде: **sport[]=waterAerobics&sport[]=motorcycle**. Для полного понимания в качества примера дается весь вывод по запросу.
FIXME: serviceId должен быть числом, а не строкой, как поправят БД (сейчас часть вывода строки с числами) - надо поправить схему, которая пока-что адаптирована под имеющийся баг чтобы не падали тесты.
FIXME: также объект InfoPerTourist будет усечен - останется только итог - по такому-то туристу такой-то результат, в публичную выдачу детали не нужны, после чего additionalProperties можно будет выставить в схеме в false для perTourist

+ Response 200 (application/json; charset=utf-8)

        {
        "status": 200,
        "data": [
        {
        "productId": 4,
        "companyId": 1,
        "insuranceSubProductId": 12,
        "territory": {
        "id": 3,
        "code": "t1",
        "countryGroup": [
        "erv-t1",
        "erv-all-no-russia",
        "erv-t4"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 128,
        "result": 1.63,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 0.87,
        "serviceId": "110"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 2.5,
        "priceRub": 183.27,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 140,
        "result": 1.63,
        "serviceId": 1
        },
        {
        "idCalcRules": 3988,
        "result": 0.87,
        "serviceId": 110
        }
        ],
        "resultPerTourist": 2.5
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 10,
        "code": "euroalarm",
        "name": "Euro-Center Holding",
        "phone": [
        "+74956444345",
        "+420221860620"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7416,
        "matchDetails": {
        "totalServices": 33,
        "additionalServices": 30,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0069,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "thirdPartyTransportation": 1,
        "insuredEscortLiving": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "insurerTemporaryReturn": 1,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "oncologyAssistance": 1,
        "alcoholAssistance": 1,
        "searchActivities": 0,
        "aviaCargo": 1000,
        "accident": 5000,
        "civilLiability": 25000,
        "regularDelay": 1,
        "document": 1,
        "pregnancy": 0,
        "auto": 1,
        "foreign": 0,
        "legal": 2000,
        "delayCargo": 200,
        "rescueActivities": 0
        },
        "info": null
        },
        {
        "productId": 1,
        "companyId": 1,
        "insuranceSubProductId": 807,
        "territory": {
        "id": 3,
        "code": "t1",
        "countryGroup": [
        "erv-t1",
        "erv-all-no-russia",
        "erv-t4"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 116,
        "result": 1.21,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 1.21,
        "priceRub": 88.7,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 140,
        "result": 1.21,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 1.21
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 10,
        "code": "euroalarm",
        "name": "Euro-Center Holding",
        "phone": [
        "+74956444345",
        "+420221860620"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7664,
        "matchDetails": {
        "totalServices": 28,
        "additionalServices": 26,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0094,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "insuredEscortLiving": 1,
        "childrenReturn": 1,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "oncologyAssistance": 1,
        "searchActivities": 0,
        "regularDelay": 1,
        "document": 1,
        "legal": 2000,
        "pregnancy": 0,
        "auto": 1,
        "foreign": 0,
        "relativeIllReturn": 1,
        "insurerTemporaryReturn": 1,
        "thirdPartyTransportation": 1,
        "rescueActivities": 0
        },
        "info": null
        },
        {
        "productId": 9,
        "companyId": 23,
        "insuranceSubProductId": 29,
        "territory": {
        "id": 10,
        "code": "t1",
        "countryGroup": [
        "all",
        "alfa-t1",
        "alfa-no-rus-tha"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 148,
        "result": 7.7,
        "serviceId": 110
        },
        {
        "idCalcRules": 197,
        "result": 1,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 8.7,
        "priceRub": 637.78,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 163,
        "result": 1,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 7.7,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 8.7
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 13,
        "code": "class",
        "name": "Class Assistance",
        "phone": [
        "+78126407292",
        "+78126447292",
        "+74959848086"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5862,
        "matchDetails": {
        "totalServices": 24,
        "additionalServices": 21,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0024,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 30000,
        "doctorCall": 30000,
        "hospitalTreatment": 30000,
        "doctorTransportation": 30000,
        "abroadTransportation": 30000,
        "drugRefund": 30000,
        "deathRepatriation": 5000,
        "phoneRefund": 100,
        "urgentStomatology": 150,
        "insuredReturn": 1500,
        "thirdPartyTransportation": 1500,
        "childrenReturn": 1500,
        "relativeIllReturn": 1500,
        "insurerTemporaryReturn": 1500,
        "aviaCargo": 1000,
        "accident": 0,
        "civilLiability": 0,
        "regularDelay": 1,
        "document": 300,
        "legal": 2500,
        "foreign": 0,
        "abroad": 0,
        "allergyArresting": 1,
        "searchActivities": 1,
        "chronicArresting": 1
        },
        "info": null
        },
        {
        "productId": 6,
        "companyId": 23,
        "insuranceSubProductId": 26,
        "territory": {
        "id": 10,
        "code": "t1",
        "countryGroup": [
        "all",
        "alfa-t1",
        "alfa-no-rus-tha"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 148,
        "result": 7.7,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 0.9,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 8.6,
        "priceRub": 630.45,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 163,
        "result": 0.9,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 7.7,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 8.6
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 13,
        "code": "class",
        "name": "Class Assistance",
        "phone": [
        "+78126407292",
        "+78126447292",
        "+74959848086"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5868,
        "matchDetails": {
        "totalServices": 18,
        "additionalServices": 15,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0025,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 30000,
        "doctorCall": 30000,
        "hospitalTreatment": 30000,
        "doctorTransportation": 30000,
        "abroadTransportation": 30000,
        "drugRefund": 30000,
        "deathRepatriation": 5000,
        "phoneRefund": 100,
        "urgentStomatology": 150,
        "insuredReturn": 1500,
        "childrenReturn": 1500,
        "aviaCargo": 1000,
        "accident": 0,
        "civilLiability": 0,
        "foreign": 0,
        "abroad": 0,
        "allergyArresting": 1,
        "searchActivities": 1,
        "chronicArresting": 1
        },
        "info": null
        },
        {
        "productId": 48,
        "companyId": 26,
        "insuranceSubProductId": 97,
        "territory": {
        "id": 33,
        "code": "t1",
        "countryGroup": [
        "rgs-t1",
        "rgs-t5",
        "rgs-t7",
        "rgs-gte30e",
        "rgs-shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2754,
        "result": 12.75,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 4.56,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 17.31,
        "priceRub": 1268.96,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 346,
        "result": 4.56,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 12.75,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 17.31
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 27,
        "code": "fidelitas",
        "name": "Fidelitas Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 30,
        "code": "savitar",
        "name": "Savitar Group",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74957839236"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5091,
        "matchDetails": {
        "totalServices": 19,
        "additionalServices": 16,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredLiving": 1,
        "medicine": 30000,
        "pregnancy": 0,
        "work": 0,
        "childrenReturn": 1,
        "civilLiability": 0,
        "document": 1,
        "legal": 1,
        "searchActivities": 0,
        "chronicArresting": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "multipolicy": 0,
        "thirdPartyTransportation": 1,
        "rescueActivities": 0
        },
        "info": null
        },
        {
        "productId": 45,
        "companyId": 26,
        "insuranceSubProductId": 94,
        "territory": {
        "id": 33,
        "code": "t1",
        "countryGroup": [
        "rgs-t1",
        "rgs-t5",
        "rgs-t7",
        "rgs-gte30e",
        "rgs-shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2754,
        "result": 12.75,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 3.78,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 16.53,
        "priceRub": 1211.78,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 346,
        "result": 3.78,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 12.75,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 16.53
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 27,
        "code": "fidelitas",
        "name": "Fidelitas Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 30,
        "code": "savitar",
        "name": "Savitar Group",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74957839236"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5144,
        "matchDetails": {
        "totalServices": 17,
        "additionalServices": 14,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0002,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredLiving": 1,
        "medicine": 30000,
        "pregnancy": 0,
        "work": 0,
        "childrenReturn": 1,
        "civilLiability": 0,
        "chronicArresting": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "multipolicy": 0,
        "searchActivities": 0,
        "thirdPartyTransportation": 1
        },
        "info": null
        },
        {
        "productId": 42,
        "companyId": 26,
        "insuranceSubProductId": 91,
        "territory": {
        "id": 33,
        "code": "t1",
        "countryGroup": [
        "rgs-t1",
        "rgs-t5",
        "rgs-t7",
        "rgs-gte30e",
        "rgs-shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2754,
        "result": 12.75,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 3.45,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 16.2,
        "priceRub": 1187.58,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 346,
        "result": 3.45,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 12.75,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 16.2
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 27,
        "code": "fidelitas",
        "name": "Fidelitas Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 30,
        "code": "savitar",
        "name": "Savitar Group",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74957839236"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5164,
        "matchDetails": {
        "totalServices": 15,
        "additionalServices": 12,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0002,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredLiving": 1,
        "medicine": 30000,
        "pregnancy": 0,
        "work": 0,
        "civilLiability": 0,
        "chronicArresting": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "multipolicy": 0,
        "searchActivities": 0
        },
        "info": null
        },
        {
        "productId": 39,
        "companyId": 26,
        "insuranceSubProductId": 88,
        "territory": {
        "id": 33,
        "code": "t1",
        "countryGroup": [
        "rgs-t1",
        "rgs-t5",
        "rgs-t7",
        "rgs-gte30e",
        "rgs-shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2754,
        "result": 12.75,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 3.21,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 15.96,
        "priceRub": 1169.99,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 346,
        "result": 3.21,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 12.75,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 15.96
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 27,
        "code": "fidelitas",
        "name": "Fidelitas Assistance",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 30,
        "code": "savitar",
        "name": "Savitar Group",
        "phone": [
        "+74957839236"
        ]
        },
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74957839236"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5176,
        "matchDetails": {
        "totalServices": 13,
        "additionalServices": 10,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0003,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "medicine": 30000,
        "work": 0,
        "pregnancy": 0,
        "civilLiability": 0,
        "chronicArresting": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "multipolicy": 0,
        "searchActivities": 0
        },
        "info": null
        },
        {
        "productId": 60,
        "companyId": 32,
        "insuranceSubProductId": 712,
        "territory": {
        "id": 251,
        "code": "vtb-e",
        "countryGroup": [
        "vtb-part-e",
        "vtb-allworld",
        "vtb-schengen",
        "vtb-evro"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 681,
        "result": 1,
        "serviceId": 1
        },
        {
        "idCalcRules": 710,
        "result": 9,
        "serviceId": 110
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 10,
        "priceRub": 733.08,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 681,
        "result": 1,
        "serviceId": 1
        },
        {
        "idCalcRules": 710,
        "result": 9,
        "serviceId": 110
        }
        ],
        "resultPerTourist": 10
        }
        ],
        "assistances": [
        {
        "italy": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": null,
        "localPhone": [
        "800787235"
        ]
        }
        ]
        },
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957750999"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5773,
        "matchDetails": {
        "totalServices": 20,
        "additionalServices": 17,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0019,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "medicine": 30000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 200,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "thirdPartyTransportation": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "allergyArresting": 1,
        "searchActivities": 0,
        "aviaCargo": 1500,
        "delayCargo": 100,
        "accident": 0,
        "tripCancel": 0,
        "civilLiability": 0,
        "legal": 0,
        "aviaAccident": 0
        },
        "info": null
        },
        {
        "productId": 57,
        "companyId": 32,
        "insuranceSubProductId": 706,
        "territory": {
        "id": 251,
        "code": "vtb-e",
        "countryGroup": [
        "vtb-part-e",
        "vtb-allworld",
        "vtb-schengen",
        "vtb-evro"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 664,
        "result": 0.8,
        "serviceId": 1
        },
        {
        "idCalcRules": 710,
        "result": 9,
        "serviceId": 110
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 9.8,
        "priceRub": 718.42,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 664,
        "result": 0.8,
        "serviceId": 1
        },
        {
        "idCalcRules": 710,
        "result": 9,
        "serviceId": 110
        }
        ],
        "resultPerTourist": 9.8
        }
        ],
        "assistances": [
        {
        "italy": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": null,
        "localPhone": [
        "800787235"
        ]
        }
        ]
        },
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957750999"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5787,
        "matchDetails": {
        "totalServices": 15,
        "additionalServices": 12,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.002,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "medicine": 30000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 200,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "allergyArresting": 1,
        "searchActivities": 0,
        "aviaCargo": 1500,
        "delayCargo": 100,
        "accident": 0,
        "tripCancel": 0,
        "civilLiability": 0,
        "legal": 0,
        "aviaAccident": 0
        },
        "info": null
        },
        {
        "productId": 374,
        "companyId": 35,
        "insuranceSubProductId": 804,
        "territory": {
        "id": 118,
        "code": "shengen",
        "countryGroup": [
        "ingos-schengen",
        "all-no-usa",
        "all-usa",
        "all-thailand",
        "ingos-t1",
        "ingos-t2",
        "ingos-t3",
        "all-nepal"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 3532,
        "result": 8.475,
        "serviceId": 110
        },
        {
        "idCalcRules": 4402,
        "result": 0.96,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 9.435,
        "priceRub": 691.66,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 3540,
        "result": 0.96,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 8.475,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 9.435
        }
        ],
        "assistances": [
        {
        "italy": [
        {
        "id": 1,
        "code": "smile",
        "name": "Smile Assistance",
        "phone": [
        "+34912986432"
        ]
        }
        ]
        },
        {
        "all": [
        {
        "id": 1,
        "code": "smile",
        "name": "Smile Assistance",
        "phone": [
        "+74959214661",
        "+442035194494"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5821,
        "matchDetails": {
        "totalServices": 17,
        "additionalServices": 14,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 1,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0022,
        "payoutRating": 0.00885
        },
        "serviceProduct": {
        "abroad": 0,
        "foreign": 0,
        "medicine": 40000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "thirdPartyTransportation": 1,
        "childrenReturn": 1,
        "disasterAssistance": 0,
        "sunburnAssistance": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "civilLiability": 0,
        "work": 0,
        "chronicArresting": 1,
        "legal": 0
        },
        "info": null
        },
        {
        "productId": 123,
        "companyId": 40,
        "insuranceSubProductId": 197,
        "territory": {
        "id": 241,
        "code": "t4",
        "countryGroup": [
        "all",
        "zetta-all-no-usa",
        "zetta-all-no-usa-ta"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 0,
        "result": 0.99,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 0.99,
        "priceRub": 72.57,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 1342,
        "result": 0.99,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 0.99
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959895128"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.791,
        "matchDetails": {
        "totalServices": 23,
        "additionalServices": 21,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0101,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 30000,
        "foreign": 0,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 150,
        "doctorTransportation": 1,
        "abroadTransportation": 30000,
        "drugRefund": 1,
        "phoneRefund": 50,
        "deathRepatriation": 15000,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "thirdPartyTransportation": 1000,
        "insuredEscortLiving": 1000,
        "childrenReturn": 1000,
        "relativeIllReturn": 1,
        "insurerTemporaryReturn": 500,
        "disasterAssistance": 1,
        "accident": 0,
        "regularDelay": 500,
        "document": 150,
        "legal": 500,
        "medicine": 30000
        },
        "info": null
        },
        {
        "productId": 120,
        "companyId": 40,
        "insuranceSubProductId": 195,
        "territory": {
        "id": 241,
        "code": "t4",
        "countryGroup": [
        "all",
        "zetta-all-no-usa",
        "zetta-all-no-usa-ta"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 0,
        "result": 0.87,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 0.87,
        "priceRub": 63.78,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 1342,
        "result": 0.87,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 0.87
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959895128"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.8058,
        "matchDetails": {
        "totalServices": 14,
        "additionalServices": 12,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0106,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "doctorCall": 30000,
        "foreign": 0,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 150,
        "doctorTransportation": 1,
        "abroadTransportation": 15000,
        "drugRefund": 1,
        "phoneRefund": 50,
        "deathRepatriation": 15000,
        "insuredReturn": 1,
        "childrenReturn": 1000,
        "disasterAssistance": 1,
        "accident": 0,
        "medicine": 30000
        },
        "info": null
        },
        {
        "productId": 390,
        "companyId": 43,
        "insuranceSubProductId": 855,
        "territory": {
        "id": 109,
        "code": "shengen",
        "countryGroup": [
        "schengen",
        "world_wide",
        "all_world",
        "liberty_israel",
        "liberty-europe",
        "liberty-india",
        "liberty_asia",
        "liberty_shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 1077,
        "result": 1.1,
        "serviceId": 110
        },
        {
        "idCalcRules": 4549,
        "result": 3.3,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 4.895,
        "priceRub": 358,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 1038,
        "result": 3.795,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 1.1,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 4.895
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 13,
        "code": "class",
        "name": "Class Assistance",
        "phone": [
        "+78126407292",
        "+78126447289",
        "+74959848086"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.6667,
        "matchDetails": {
        "totalServices": 24,
        "additionalServices": 21,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0045,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "chronicArresting": 2000,
        "abroad": 0,
        "delayCargo": 0,
        "pregnancy": 0,
        "foreign": 0,
        "work": 0,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "medicine": 30000,
        "accident": 0,
        "civilLiability": 0,
        "aviaCargo": 1500,
        "multipolicy": 0,
        "legal": 1,
        "document": 1,
        "insurerTemporaryReturn": 1
        },
        "info": null
        },
        {
        "productId": 80,
        "companyId": 43,
        "insuranceSubProductId": 354,
        "territory": {
        "id": 109,
        "code": "shengen",
        "countryGroup": [
        "schengen",
        "world_wide",
        "all_world",
        "liberty_israel",
        "liberty-europe",
        "liberty-india",
        "liberty_asia",
        "liberty_shengen"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 1077,
        "result": 1.1,
        "serviceId": 110
        },
        {
        "idCalcRules": 1006,
        "result": 3,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 4.55,
        "priceRub": 333,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 1038,
        "result": 3.45,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 1.1,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 4.55
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 13,
        "code": "class",
        "name": "Class Assistance",
        "phone": [
        "+78126407292",
        "+78126447289",
        "+74959848086"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.6753,
        "matchDetails": {
        "totalServices": 21,
        "additionalServices": 18,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0047,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "chronicArresting": 2000,
        "abroad": 0,
        "delayCargo": 0,
        "pregnancy": 0,
        "foreign": 0,
        "work": 0,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "medicine": 30000,
        "accident": 0,
        "civilLiability": 0,
        "aviaCargo": 1500,
        "multipolicy": 0
        },
        "info": null
        },
        {
        "productId": 159,
        "companyId": 44,
        "insuranceSubProductId": 286,
        "territory": {
        "id": 160,
        "code": "all-no-car",
        "countryGroup": [
        "vazhno-no-carribean",
        "vazhno-no-usa",
        "vazhno-no-cis"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 1552,
        "result": 1,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 1,
        "priceRub": 74,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 1567,
        "result": 1,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 1
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957750999"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7879,
        "matchDetails": {
        "totalServices": 17,
        "additionalServices": 15,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0101,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "multipolicy": 0,
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "thirdPartyTransportation": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "civilLiability": 0,
        "searchActivities": 0,
        "rescueActivities": 0
        },
        "info": null
        },
        {
        "productId": 185,
        "companyId": 48,
        "insuranceSubProductId": 562,
        "territory": {
        "id": 171,
        "code": "t1",
        "countryGroup": [
        "all-no-russia",
        "all",
        "reso-t1",
        "reso-t2",
        "reso-t2dr"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 1624,
        "result": 15,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 1.2,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 16.2,
        "priceRub": 1187.58,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 0,
        "result": 1.2,
        "serviceId": "1"
        },
        {
        "idCalcRules": 1624,
        "result": 15,
        "serviceId": 110
        }
        ],
        "resultPerTourist": 16.2
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74956627008",
        "+74957872178"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5171,
        "matchDetails": {
        "totalServices": 18,
        "additionalServices": 15,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0002,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "medicine": 30000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "thirdPartyTransportation": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "chronicArresting": 1,
        "searchActivities": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "civilLiability": 0,
        "work": 0,
        "multipolicy": 0
        },
        "info": null
        },
        {
        "productId": 184,
        "companyId": 48,
        "insuranceSubProductId": 560,
        "territory": {
        "id": 171,
        "code": "t1",
        "countryGroup": [
        "all-no-russia",
        "all",
        "reso-t1",
        "reso-t2",
        "reso-t2dr"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 1624,
        "result": 15,
        "serviceId": 110
        },
        {
        "idCalcRules": 0,
        "result": 1,
        "serviceId": "1"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 16,
        "priceRub": 1172.92,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 0,
        "result": 1,
        "serviceId": "1"
        },
        {
        "idCalcRules": 1624,
        "result": 15,
        "serviceId": 110
        }
        ],
        "resultPerTourist": 16
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 7,
        "code": "europ",
        "name": "Europ Assistance",
        "phone": [
        "+74956627008",
        "+74957872178"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5179,
        "matchDetails": {
        "totalServices": 15,
        "additionalServices": 12,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 2,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0003,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "medicine": 30000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "chronicArresting": 1,
        "searchActivities": 0,
        "aviaCargo": 1500,
        "accident": 0,
        "civilLiability": 0,
        "work": 0,
        "multipolicy": 0
        },
        "info": null
        },
        {
        "productId": 234,
        "companyId": 51,
        "insuranceSubProductId": 454,
        "territory": {
        "id": 274,
        "code": "t1",
        "countryGroup": [
        "soglasie-usa",
        "soglasie-all-no-usa",
        "soglasie-world",
        "soglasie-allworld"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2875,
        "result": 1,
        "serviceId": 1
        },
        {
        "idCalcRules": 2946,
        "result": 2,
        "serviceId": 110
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 3,
        "priceRub": 219.92,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 2144,
        "result": 1,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 2,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 3
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74959871775",
        "+74959871776"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7282,
        "matchDetails": {
        "totalServices": 19,
        "additionalServices": 16,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 1,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0062,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 200,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "thirdPartyTransportation": 1,
        "insuredEscortLiving": 1,
        "childrenReturn": 1,
        "allergyArresting": 1,
        "aviaCargo": 2000,
        "regularDelay": 0,
        "medicine": 30000,
        "accident": 0
        },
        "info": null
        },
        {
        "productId": 231,
        "companyId": 51,
        "insuranceSubProductId": 442,
        "territory": {
        "id": 274,
        "code": "t1",
        "countryGroup": [
        "soglasie-usa",
        "soglasie-all-no-usa",
        "soglasie-world",
        "soglasie-allworld"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 2867,
        "result": 0.85,
        "serviceId": 1
        },
        {
        "idCalcRules": 2946,
        "result": 2,
        "serviceId": 110
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 2.85,
        "priceRub": 208.93,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 2144,
        "result": 0.85,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 2,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 2.85
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 36,
        "code": "balt",
        "name": "Balt Assistance",
        "phone": [
        "+74959871775",
        "+74959871776"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7337,
        "matchDetails": {
        "totalServices": 15,
        "additionalServices": 12,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 1,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0064,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 150,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "allergyArresting": 1,
        "aviaCargo": 2000,
        "regularDelay": 0,
        "medicine": 30000,
        "accident": 0
        },
        "info": null
        },
        {
        "productId": 379,
        "companyId": 52,
        "insuranceSubProductId": 818,
        "territory": {
        "id": 315,
        "code": "z1",
        "countryGroup": [
        "all",
        "rstandart-z1",
        "rstandart-z2",
        "rstandart-z5",
        "rstandart-z6",
        "rstandart-t5",
        "rstandart-t1"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 4471,
        "result": 1.15,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 1.15,
        "priceRub": 84.3,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 4455,
        "result": 1.15,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 1.15
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7726,
        "matchDetails": {
        "totalServices": 26,
        "additionalServices": 24,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0096,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "abroadTransportation": 30000,
        "deathRepatriation": 30000,
        "insuredEscortReturn": 1000,
        "childrenReturn": 1000,
        "thirdPartyTransportation": 1000,
        "regularDelay": 500,
        "legal": 500,
        "relativeIllReturn": 500,
        "insurerTemporaryReturn": 500,
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "drugRefund": 1,
        "insuredReturn": 1,
        "insuredEscortLiving": 1,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "allergyArresting": 1,
        "dockDelay": 1,
        "searchActivities": 0,
        "urgentStomatology": 1,
        "civilLiability": 20000,
        "document": 150,
        "phoneRefund": 50
        },
        "info": null
        },
        {
        "productId": 378,
        "companyId": 52,
        "insuranceSubProductId": 813,
        "territory": {
        "id": 315,
        "code": "z1",
        "countryGroup": [
        "all",
        "rstandart-z1",
        "rstandart-z2",
        "rstandart-z5",
        "rstandart-z6",
        "rstandart-t5",
        "rstandart-t1"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 4461,
        "result": 0.98,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 0.98,
        "priceRub": 71.84,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 4455,
        "result": 0.98,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 0.98
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.7924,
        "matchDetails": {
        "totalServices": 25,
        "additionalServices": 23,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0102,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "abroadTransportation": 30000,
        "deathRepatriation": 30000,
        "insuredEscortReturn": 1000,
        "childrenReturn": 1000,
        "thirdPartyTransportation": 1000,
        "regularDelay": 500,
        "legal": 500,
        "relativeIllReturn": 500,
        "insurerTemporaryReturn": 500,
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "drugRefund": 1,
        "insuredReturn": 1,
        "insuredEscortLiving": 1,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "allergyArresting": 1,
        "dockDelay": 1,
        "searchActivities": 0,
        "urgentStomatology": 1,
        "document": 150,
        "phoneRefund": 50
        },
        "info": null
        },
        {
        "productId": 377,
        "companyId": 52,
        "insuranceSubProductId": 811,
        "territory": {
        "id": 315,
        "code": "z1",
        "countryGroup": [
        "all",
        "rstandart-z1",
        "rstandart-z2",
        "rstandart-z5",
        "rstandart-z6",
        "rstandart-t5",
        "rstandart-t1"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 4457,
        "result": 0.86,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 0.86,
        "priceRub": 63.04,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 4455,
        "result": 0.86,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 0.86
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.8078,
        "matchDetails": {
        "totalServices": 17,
        "additionalServices": 15,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0106,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "abroadTransportation": 30000,
        "deathRepatriation": 30000,
        "urgentStomatology": 1,
        "phoneRefund": 50,
        "foreign": 0,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "drugRefund": 1,
        "insuredReturn": 1,
        "insuredEscortLiving": 1,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "chronicArresting": 1,
        "allergyArresting": 1,
        "dockDelay": 1,
        "searchActivities": 0
        },
        "info": null
        },
        {
        "productId": 370,
        "companyId": 55,
        "insuranceSubProductId": 694,
        "territory": {
        "id": 308,
        "code": "t1a",
        "countryGroup": [
        "otkritie-t1",
        "otkritie-t4",
        "otkritie-t5",
        "otkritie-t1a",
        "otkritie-t1c"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 0,
        "result": 6.9,
        "serviceId": "1"
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 11.4,
        "priceRub": 835.71,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 3801,
        "result": 6.9,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 11.4
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5528,
        "matchDetails": {
        "totalServices": 25,
        "additionalServices": 22,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0015,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "childrenReturn": 1,
        "document": 1,
        "legal": 1,
        "relativeIllReturn": 1,
        "thirdPartyTransportation": 1,
        "work": 0,
        "civilLiability": 0,
        "multipolicy": 0,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "searchActivities": 0,
        "aviaCargo": 1000,
        "regularDelay": 0,
        "delayCargo": 0,
        "accident": 0,
        "foreign": 0,
        "dockDelay": 0,
        "aviaMiss": 0,
        "rescueActivities": 0,
        "oncologyAssistance": 1
        },
        "info": null
        },
        {
        "productId": 367,
        "companyId": 55,
        "insuranceSubProductId": 658,
        "territory": {
        "id": 308,
        "code": "t1a",
        "countryGroup": [
        "otkritie-t1",
        "otkritie-t4",
        "otkritie-t5",
        "otkritie-t1a",
        "otkritie-t1c"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 0,
        "result": 4,
        "serviceId": "1"
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 8.5,
        "priceRub": 623.12,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 3801,
        "result": 4,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 8.5
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.589,
        "matchDetails": {
        "totalServices": 23,
        "additionalServices": 20,
        "missingServices": 0,
        "matchingServices": 3,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0025,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "urgentStomatology": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "thirdPartyTransportation": 1,
        "multipolicy": 0,
        "work": 0,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "searchActivities": 0,
        "civilLiability": 0,
        "aviaCargo": 1000,
        "regularDelay": 0,
        "delayCargo": 0,
        "accident": 0,
        "foreign": 0,
        "dockDelay": 0,
        "aviaMiss": 0,
        "rescueActivities": 0,
        "oncologyAssistance": 1
        },
        "info": null
        },
        {
        "productId": 364,
        "companyId": 55,
        "insuranceSubProductId": 648,
        "territory": {
        "id": 308,
        "code": "t1a",
        "countryGroup": [
        "otkritie-t1",
        "otkritie-t4",
        "otkritie-t5",
        "otkritie-t1a",
        "otkritie-t1c"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 0,
        "result": 3.6,
        "serviceId": "1"
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 8.1,
        "priceRub": 593.79,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 3801,
        "result": 3.6,
        "serviceId": 1
        },
        {
        "idCalcRules": 0,
        "result": 4.5,
        "serviceId": "110"
        }
        ],
        "resultPerTourist": 8.1
        }
        ],
        "assistances": [
        {
        "all": [
        {
        "id": 19,
        "code": "apc",
        "name": "AP Companies",
        "phone": [
        "+74959891120"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.5244,
        "matchDetails": {
        "totalServices": 18,
        "additionalServices": 16,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 1,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0027,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "ambulatoryCare": 1,
        "doctorCall": 1,
        "hospitalTreatment": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "deathRepatriation": 1,
        "phoneRefund": 1,
        "insuredReturn": 1,
        "medicine": 30000,
        "work": 0,
        "multipolicy": 0,
        "terrorAssistance": 1,
        "disasterAssistance": 1,
        "allergyArresting": 1,
        "sunburnAssistance": 1,
        "searchActivities": 0,
        "civilLiability": 0,
        "accident": 0,
        "delayCargo": 0,
        "regularDelay": 0,
        "aviaCargo": 1000,
        "foreign": 0,
        "dockDelay": 0,
        "aviaMiss": 0,
        "rescueActivities": 0,
        "oncologyAssistance": 1
        },
        "info": null
        },
        {
        "productId": 429,
        "companyId": 57,
        "insuranceSubProductId": 921,
        "territory": {
        "id": 321,
        "code": "t1",
        "countryGroup": [
        "bin-t1",
        "bin-t2",
        "bin-t3"
        ]
        },
        "insuredDays": 1,
        "services": [
        {
        "idCalcRules": 4665,
        "result": 3,
        "serviceId": 1
        }
        ],
        "sport": null,
        "currency": "EUR",
        "price": 3,
        "priceRub": 219.92,
        "infoPerTourist": [
        {
        "birthday": "01.01.1980",
        "age": 36,
        "perTourist": [
        {
        "idCalcRules": 4665,
        "result": 3,
        "serviceId": 1
        }
        ],
        "resultPerTourist": 3
        }
        ],
        "assistances": [
        {
        "italy": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": null,
        "localPhone": [
        "800787235"
        ]
        }
        ]
        },
        {
        "all": [
        {
        "id": 4,
        "code": "gva",
        "name": "Global Voyager Assistance",
        "phone": [
        "+74957750999"
        ]
        }
        ]
        }
        ],
        "matchRating": 0.6531,
        "matchDetails": {
        "totalServices": 19,
        "additionalServices": 17,
        "missingServices": 1,
        "matchingServices": 2,
        "higherSumms": 0,
        "lowerSumms": 0,
        "matchingSumms": 1,
        "expertRaiting": 0,
        "isLimited": 0,
        "priceRating": 0.0062,
        "payoutRating": 0.01065
        },
        "serviceProduct": {
        "medicine": 30000,
        "doctorCall": 1,
        "ambulatoryCare": 1,
        "hospitalTreatment": 1,
        "urgentStomatology": 1,
        "doctorTransportation": 1,
        "abroadTransportation": 1,
        "drugRefund": 1,
        "phoneRefund": 1,
        "deathRepatriation": 1,
        "insuredReturn": 1,
        "insuredEscortReturn": 1,
        "insuredLiving": 1,
        "thirdPartyTransportation": 1,
        "insuredEscortLiving": 1,
        "childrenReturn": 1,
        "relativeIllReturn": 1,
        "allergyArresting": 1,
        "legal": 1,
        "foreign": 0,
        "multipolicy": 0
        },
        "info": null
        }
        ]
        }

    + Schema

            { "type":"object",
              "required":["status","data"],
              "additionalProperties":false,
              "properties":{"status":{"type":"number","minimum":100,"exclusiveMinimum":false,"maximum":600,"exclusiveMaximum":false},
                            "data":{"type":"array","minitems":1,
                                    "items":{"type":"object",
                                             "required":["productId","companyId","insuranceSubProductId","territory",
                                                         "insuredDays","services","sport","currency","price","priceRub",
                                                         "infoPerTourist","assistances","matchRating",
                                                         "serviceProduct","matchDetails","info"],
                                             "additionalProperties": true,
                                             "properties":{"ProductId":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                           "companyId":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                           "insuranceSubProductId":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                           "territory":{"type":"object",
                                                                        "required":["id","code","countryGroup"],
                                                                        "additionalProperties":false,
                                                                        "properties":{"id":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                                                      "code":{"type":"string"},
                                                                                      "countryGroup":{"type":"array",
                                                                                                      "minitems":1,
                                                                                                      "items":{"type":"string"}
                                                                                                     }
                                                                                     }
                                                                       },
                                                           "insuredDays":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                           "services":{"type":"array","minitems":1,
                                                                       "items":{"type":"object",
                                                                                "required":["result","serviceId"],
                                                                                "additionalProperties":true,
                                                                                "properties":{"result":{"type":"number"},
                                                                                              "serviceId":{"anyOf":[{"type":"number",
                                                                                                                     "minimum":1,
                                                                                                                     "exclusiveMinimum":false
                                                                                                                     },
                                                                                                                     {"type":"string"}
                                                                                                                    ]
                                                                                                          }
                                                                                             }
                                                                               }
                                                                      },
                                                           "sport":{"oneOf":[{"type":"object",
                                                                              "required":["id","code"],
                                                                              "additionalProperties":false,
                                                                              "properties":{"id":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                                                            "code":{"type":"string"}
                                                                                           }
                                                                             },
                                                                             {"type":"null"}
                                                                            ]
                                                                   },
                                                           "currency":{"type":"string"},
                                                           "price":{"type":"number","minimum":0,"exclusiveMinimum":true},
                                                           "priceRub":{"type":"number","minimum":0,"exclusiveMinimum":true},
                                                           "infoPerTourist":{"type":"array","minitems":1,
                                                                             "items":{"type":"object",
                                                                                      "required":["birthday","age","perTourist","resultPerTourist"],
                                                                                      "properties":{"birthday":{"type":"string","pattern":"[0-9]{2}.[0-9]{2}.[0-9]{4}"},
                                                                                                    "age":{"type":"number","minimum":1,"exclusiveMinimum":false,"maximum":300,"exclusiveMaximum":false},
                                                                                                    "perTourist":{"type":"array","minitems":1,
                                                                                                                  "items":{"type":"object",
                                                                                                                           "required":["result","serviceId"],
                                                                                                                           "additionalProperties":true,
                                                                                                                           "properties":{"result":{"type":"number"},
                                                                                                                                         "serviceId":{"anyOf":[{"type":"number",
                                                                                                                                                                "minimum":1,
                                                                                                                                                                "exclusiveMinimum":false
                                                                                                                                                               },
                                                                                                                                                               {"type":"string"}
                                                                                                                                                              ]
                                                                                                                                                     }
                                                                                                                                        }
                                                                                                                           }
                                                                                                                  },
                                                                                                    "resultPerTourist":{"type":"number"}
                                                                                                    }
                                                                                     }
                                                                            },
                                                           "assistances":{"type":"array","minitems":1,
                                                                          "items":{"type":"object",
                                                                                   "properties":{"default":{"type":"array","minitems":1,
                                                                                                           "items":{"type":"object",
                                                                                                                    "required":["id","code","name","phone"],
                                                                                                                    "additionalProperties":true,
                                                                                                                    "properties":{"id":{"type":"number","minimum":1,"exclusiveMinimum":false},
                                                                                                                                  "code":{"type":"string"},
                                                                                                                                  "name":{"type":"string"},
                                                                                                                                  "phone":{"anyOf":[{"type":"array","minitems":1,
                                                                                                                                                     "items":{"type":"string","pattern":"[0-9]"}
                                                                                                                                                    },
                                                                                                                                                    {"type":"null"}
                                                                                                                                                   ]
                                                                                                                                           },
                                                                                                                                   "localPhone":{"type":"array","minitems":1,
                                                                                                                                                 "items":{"type":"string","pattern":"[0-9]"}
                                                                                                                                                }
                                                                                                                                 }
                                                                                                                   }
                                                                                                          }
                                                                                                }
                                                                                  }
                                                                         },
                                                           "matchRating":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                           "serviceProduct":{"type":"object",
                                                                            "minProperties": 1,
                                                                            "properties":{"default":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "medicine":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "ambulatoryCare":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "doctorCall":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "hospitalTreatment":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "doctorTransportation":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "abroadTransportation":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "alcoholAssistance":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "auto":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "drugRefund":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "document":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "deathRepatriation":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "phoneRefund":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "pregnancy":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "urgentStomatology":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "insuredReturn":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "insuredEscortReturn":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "insuredLiving":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "insuredEscortLiving":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "insurerTemporaryReturn":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "chronicArresting":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "childrenReturn":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "relativeIllReturn":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "thirdPartyTransportation":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "multipolicy":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "work":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "legal":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "terrorAssistance":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "disasterAssistance":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "allergyArresting":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "sunburnAssistance":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "searchActivities":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "civilLiability":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "aviaCargo":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "regularDelay":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "delayCargo":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "accident":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "foreign":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "dockDelay":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "aviaMiss":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "rescueActivities":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                          "oncologyAssistance":{"type":"number","minimum":0,"exclusiveMinimum":false}
                                                                                         }
                                                                            },
                                                           "matchDetails":{"type":"object",
                                                                           "required":["totalServices","additionalServices","missingServices","matchingServices",
                                                                                        "higherSumms","lowerSumms","matchingSumms","expertRaiting","isLimited",
                                                                                        "priceRating","payoutRating"
                                                                                       ],
                                                                           "additionalProperties": false,
                                                                           "properties":{"totalServices":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "additionalServices":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "missingServices":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "matchingServices":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "higherSumms":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "lowerSumms":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "matchingSumms":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "expertRaiting":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "isLimited":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "priceRating":{"type":"number","minimum":0,"exclusiveMinimum":false},
                                                                                         "payoutRating":{"type":"number","minimum":0,"exclusiveMinimum":false}
                                                                                        }
                                                                          },
                                                           "info":{"oneOf":[{"type":"object",
                                                                             "required":["medicine"],
                                                                             "additionalProperties":false,
                                                                             "properties":{"medicine":{"type":"array","minitems":1,
                                                                                                       "items":{"type":"object",
                                                                                                                "required":["type","value"],
                                                                                                                "additionalProperties":false,
                                                                                                                "properties":{"type":{"type":"string"},
                                                                                                                              "value":{"type":"number"}
                                                                                                                             }
                                                                                                               }
                                                                                                      }
                                                                                           }
                                                                            },
                                                                            {"type":"null"}
                                                                           ]
                                                                  }
                                                          }
                                           }

                                  }
                           }
            }

            
[...]
